node_modules
**/node_modules
.next
**/.next
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.ruff_cache
**/.ruff_cache
__pycache__
**/__pycache__
*.pyc
*.pyo
*.tsbuildinfo
.env
.env.local
*.local
infra/docker/.data
